<!DOCTYPE html>
<html>
<head>
<title>Kalaki</title>
<!-- 		<script src="lib/d3/d3.js" rel="text/javascript"></script> -->
<!-- 		<script src="lib/prototype.js" rel="text/javascript"></script> -->

<script src="lib/jquery.3.2.1.js" rel="text/javascript"></script>
<script src="scripts/BaseHandlerUtil.js" rel="text/javascript"></script>
<!-- 		<script src="scripts/ChartUtil.js" rel="text/javascript"></script> -->
<!-- 		<script src="scripts/WebConstants.js" rel="text/javascript"></script> -->

<link href="stylesheets/styles.css" rel="stylesheet"></link>
</head>
<body>
	<div id="main-div">
		<span id="logo"> Kalaki</span> <input type="button" id="runSandbox"
			value="Run" onclick="BaseHandlerUtil.runSandbox()" /> <input
			type="button" id="saveSandbox" value="Save"
			onclick="BaseHandlerUtil.saveSandbox()" />


		<div class="row">
			<div class="column">
				<div id="htmlDiv">
					<textarea id="htmlText" placeholder="HTML"></textarea>
				</div>
			</div>
			<div class="column">
				<div id="cssDiv">
					<textarea id="cssText" placeholder="CSS"></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column">
				<div id="jsDiv">
					<textarea id="jsText" style="height: 300px;"
						placeholder="Javascript"></textarea>
				</div>
			</div>
			<div class="column">
				Render
				<div id="renderDiv"></div>
			</div>
		</div>
	</div>
</body>
</html>